/* Navegação do carrossel */
.carousel-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 var(--spacing-4);
    pointer-events: none; /* permite clicar apenas nos botões */
}

.carousel-btn {
    pointer-events: all;
    background: var(--primary);
    color: var(--white);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition);
}

.carousel-btn:hover {
    background: var(--secondary);
    transform: scale(1.1);
}

